<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="LarastruckingDBEntities" connectionString="metadata=res://*/EF.LarastruckingModel.csdl|res://*/EF.LarastruckingModel.ssdl|res://*/EF.LarastruckingModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=win11-001\SQLEXPRESS;initial catalog=LaraDB-13Jun23;uid=sa;password=Abcd$1234;MultipleActiveResultSets=True;App=EntityFramework&quot;"
      providerName="System.Data.EntityClient" />
    <add name="LarastruckingAppContext" connectionString="Data Source=(localdb)\MSSQLLocalDB; Initial Catalog=LarastruckingAppContext-20230517122435; Integrated Security=True; MultipleActiveResultSets=True; AttachDbFilename=|DataDirectory|LarastruckingAppContext-20230517122435.mdf"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="CipherTextKey" value="Lara" />
    <add key="BaseURL" value="http://localhost:5225/" />
    <!--<add key="BaseURL" value="https://laras.demodooms.com/LarastruckingApp/Shipment/" /> -->
    <!--<add key="BaseURL" value="http://web01.chetu.com/LarasTruckingLogistics/"/>-->
    <!--<add key="BaseURL" value="https://larastruckinglogistics-app.azurewebsites.net/" />-->
    <!--<add key="ImageURL" value="https://laras.demodooms.com/LarastruckingApp/" />-->
    <add key="ImageURL" value="http://localhost:5225/" />
    <add key="MvcSiteMapProvider_IncludeAssembliesForScan" value="LarastruckingApp" />
    <add key="MvcSiteMapProvider_UseExternalDIContainer" value="false" />
    <add key="MvcSiteMapProvider_ScanAssembliesForSiteMapNodes" value="true" />
    <add key="FUDriverDocPath" value="Images/DriverImage/" />
    <add key="FUAccidentReportPath" value="Images/AccidentReportImage/" />
    <add key="FUEquipmentPath" value="Images/EquipmentImages/" />
    <add key="FUSignatureDocPath" value="Images/SignatureImage/" />
    <add key="LarasLogo" value="Images/Laraslogo.png" />
    <add key="FromEmail" value="noreply@larastrucking.com" />
    <add key="EmailId" value="taskeradmin@dartinnovations.net" />
    <add key="Password" value="Lumia$92o!" />
    <add key="Host" value="mail.dartinnovations.net" />
    <add key="Port" value="587" />
    <add key="enableSsl" value="false" />
    <!-- <add key="ProofTempCC" value="dispatch@larastrucking.com" /> -->
    <add key="ProofTempCC" value="karthik@dartinnovations.net" />
    <!--<add key="EmailId" value="noreply@larastrucking.com"/>
    <add key="Password" value="Lar@s2020#"/>
    <add key="Host" value="smtp.office365.com"/>
    <add key="Port" value="587"/>-->
    <add key="IsProduction" value="false" />
    <add key="aspnet:MaxJsonDeserializerMembers" value="150000" />
    <add key="LaraIp" value="14.99.194.2" />
    <!--74.95.56.2-->
    <add key="ChetuIp" value="14.99.194.2" />
    <!-- Credentials for Quatrix API -->
    <add key="UserName" value="QWS" />
    <add key="QPassword" value="LaraTC2022" />
    <add key="CustomerID" value="Lara TC" />
    <add key="Application" value="Lara TC.app" />
    <!-- Auth key for Twilio API -->
    <add key="accountSid" value="AC52287d0e06a0abd881864c523acbb14a" />
    <add key="authToken" value="82bf266740507eba382ff69ac7b5ed34" />
    <add key="LoadingLogoPath" value="Images/Status/loadingatpickuplocation.png" />
  </appSettings>
  <system.net>
    <mailSettings>
      <smtp deliveryMethod="Network" from="interfaceadmin@dartinnovations.net">
        <network host="mail.dartinnovations.net" port="587" userName="taskeradmin@dartinnovations.net" password="Lumia$92o!" enableSsl="false" />
      </smtp>
    </mailSettings>
  </system.net>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.8" />
      </system.Web>
  -->
  <system.web>
    <!-- <compilation targetFramework="4.8" /> -->
    <trust level="Full" originUrl="" />
    <authentication mode="Forms">
      <forms loginUrl="~/User/Login" defaultUrl="~/User/Login" timeout="2880" />
    </authentication>
    <authorization>
      <allow users="*" />
    </authorization>
    <httpModules>
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" />
    </httpModules>
    <globalization enableClientBasedCulture="false" culture="en-US" uiCulture="en-US" />
    <customErrors mode="Off" />
    <compilation debug="true" targetFramework="4.8">
      <assemblies>
        <add assembly="System.Net.Http, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
      </assemblies>
    </compilation>
    <httpRuntime targetFramework="4.4" executionTimeout="108000" maxRequestLength="1073741824" />
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.7.0" newVersion="5.2.7.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.0" newVersion="4.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="AutoMapper" publicKeyToken="be96cd2c38ef1005" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.1.0.0" newVersion="6.1.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.webServer>
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="1073741824" />
      </requestFiltering>
    </security>
    <validation validateIntegratedModeConfiguration="false" />
    <modules>
      <remove name="ApplicationInsightsWebTracking" />
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" preCondition="managedHandler" />
      <remove name="UrlRoutingModule-4.0" />
      <add name="UrlRoutingModule-4.0" type="System.Web.Routing.UrlRoutingModule" />
    </modules>
    <httpProtocol>
      <customHeaders>
        <add name="Access-Control-Allow-Origin" value="*" />
        <add name="Access-Control-Allow-Methods" value="GET,POST,OPTIONS" />
        <add name="Access-Control-Allow-Headers" value="Content-Type, soapaction" />
      </customHeaders>
    </httpProtocol>
  </system.webServer>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v13.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>