

<table class="table-bordered table-striped cf w-100" id="tblUserDetails">
    <thead class="cf">
        <tr>
            <th hidden="hidden">UserId</th>
            <th>EMAIL</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Role</th>
            <th>User Type</th>
            <th>Active</th>
            <th>Action</th>
        </tr>
    </thead>    
</table>


  