<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="LarastruckingDBEntities" connectionString="metadata=res://*/EF.LarastruckingModel.csdl|res://*/EF.LarastruckingModel.ssdl|res://*/EF.LarastruckingModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DBPROD\SQL2017;initial catalog=LarasTruckingLogistics;uid=Laras;password=Laras!321;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <!--<add name="LarastruckingDBEntities" connectionString="metadata=res://*/EF.LarastruckingModel.csdl|res://*/EF.LarastruckingModel.ssdl|res://*/EF.LarastruckingModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=tcp:larastruckingdbserver.database.windows.net,1433;initial catalog=LarasTruckingDB;uid=larastruckingdb ;pwd=laras@!#4trucking123 ;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <!--<add name="LarastruckingDBEntities" connectionString="metadata=res://*/EF.LarastruckingModel.csdl|res://*/EF.LarastruckingModel.ssdl|res://*/EF.LarastruckingModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DBPROD\SQL2017;initial catalog=LarasTruckingLogistics_QA;uid=Laras;pwd=Laras!321 ;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
  </connectionStrings>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="CipherTextKey" value="Lara" />
    <add key="BaseURL" value="http://localhost:5225/" />
    <!--<add key="BaseURL" value="http://web01.chetu.com/LarasTruckingLogistics/"/>-->
    <!--<add key="BaseURL" value="https://larastruckinglogistics-app.azurewebsites.net/" />-->
    <add key="ImageURL" value="http://localhost:5225/" />
    <add key="MvcSiteMapProvider_IncludeAssembliesForScan" value="LarastruckingApp" />
    <add key="MvcSiteMapProvider_UseExternalDIContainer" value="false" />
    <add key="MvcSiteMapProvider_ScanAssembliesForSiteMapNodes" value="true" />
    <add key="FUDriverDocPath" value="Images/DriverImage/" />
    <add key="FUAccidentReportPath" value="Images/AccidentReportImage/" />
    <add key="FUEquipmentPath" value="Images/EquipmentImages/" />
    <add key="FUSignatureDocPath" value="Images/SignatureImage/" />
    <add key="LarasLogo" value="Images/Laraslogo.png" />
    <add key="EmailId" value="larastruckinglogistics@gmail.com" />
    <add key="Password" value="Chetu@123" />
    <add key="Host" value="smtp.gmail.com" />
    <add key="Port" value="587" />
    <add key="IsProduction" value="false" />
  </appSettings>
  <system.net>
    <mailSettings>
      <smtp from="larastruckinglogistics@gmail.com">
        <network host="smtp.gmail.com" port="587" userName="larastruckinglogistics@gmail.com" password="Chetu@123" enableSsl="true" />
      </smtp>
    </mailSettings>
  </system.net>
  <system.web>
    <!-- <compilation targetFramework="4.8" /> -->
    <trust level="Full" originUrl="" />
    <authentication mode="Forms">
      <forms loginUrl="~/User/Login" defaultUrl="~/User/Login" timeout="2880" />
    </authentication>
    <authorization>
      <allow users="*" />
    </authorization>
    <httpModules>
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" />
    </httpModules>
    <globalization culture="en-US" uiCulture="en-US" />
    <customErrors mode="Off" />
    <compilation debug="true" />
    <httpRuntime targetFramework="4.4" executionTimeout="108000" maxRequestLength="1073741824" />
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.7.0" newVersion="5.2.7.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.0" newVersion="4.0.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.webServer>
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="1073741824" />

      </requestFiltering>
    </security>
    <validation validateIntegratedModeConfiguration="false" />
    <modules>
      <remove name="ApplicationInsightsWebTracking" />
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" preCondition="managedHandler" />
      <remove name="UrlRoutingModule-4.0" />
      <add name="UrlRoutingModule-4.0" type="System.Web.Routing.UrlRoutingModule" />
    </modules>
  </system.webServer>

  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v13.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>