@using LarastruckingApp.Entities.Permission
@{
    ViewBag.Title = "ViewAllShipment";
    Layout = "~/Views/Shared/_Layout.cshtml";
    PermissionsDto permissions = IsPermited.HasPermission();
}

<div class="row">
    <div class="col-lg-12 col-md-12 mt-2">
        <div class="white-bg customFormWrap">
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()
                <div class="col-md-12 divSearch">
                    @*@Html.ActionLink("Create Shipment", "Index", "Shipment", null, new { @class = "btn green-Btn" })*@
                    <div class="row">
                        <div class="col-md-3">
                            <div class="form-group row">
                                <label for="dtStartedDate" class="col-sm-4 col-form-label">Start Date</label>
                                <div class="col-sm-8">
                                    <input type="text"
                                           required="required"
                                           placeholder="MM-DD-YYYY"
                                           name="dtStartedDate"
                                           onkeypress="return onlyAlphanumeric(event)"
                                           id="dtStartedDate"
                                           autocomplete="off"
                                           class="form-control jqueryui-marker-datepicker">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group  row">
                                <label for="dtEndDate" class="col-sm-4 col-form-label">End Date</label>
                                <div class="col-sm-8">
                                    <input type="text"
                                           required="required"
                                           placeholder="MM-DD-YYYY"
                                           name="dtEndDate"
                                           onkeypress="return onlyAlphanumeric(event)"
                                           id="dtEndDate"
                                           autocomplete="off"
                                           class="form-control jqueryui-marker-datepicker">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group row">
                                <label for="ddlCustomer" class="col-sm-4 col-form-label">Customer</label>
                                <div class="col-sm-8">
                                    <select id="ddlCustomer" class="form-control">
                                        <option>SEARCH CUSTOMER</option>
                                    </select>

                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group row">
                                <label for="ddlFreightType" class="col-sm-4 col-form-label">Freight Type</label>
                                <div class="col-sm-8">
                                    <select id="ddlFreightType" class="form-control">
                                        <option>SELECT FREIGHT TYPE</option>
                                    </select>

                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <div class="form-group row">
                                <label class="col-sm-4 col-form-label" for="ddlStatus">Status</label>
                                <div class="col-sm-8">

                                    <select class="form-control" id="ddlStatus">SELECT STATUS</select>

                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group row">
                                <label class="col-sm-4 col-form-label" for="ddlDriver">Driver</label>
                                <div class="col-sm-8">
                                    <select class="form-control" id="ddlDriver">SELECT DRIVER</select>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 text-right" style="display: flex;justify-content: flex-end;">
                            <button type="button" id="btnViewShipment" class="btn green-Btn pullr" style="padding: 0 15px;display: flex;align-items: center;padding-left: 0;height:32px;"><img src="~/Assets/images/search.png" style="height:20px;margin-right: 3px;padding-left: 10px;"/><label style="margin: 0;">Search</label></button>
                            @if (permissions.IsInsert)
                            {
                                @*@Html.ActionLink("Create Shipment", "Index", "Shipment", null, new { @class = "btn green-Btn" })*@
                            }
                        </div>
                    </div>
                </div>
            }
            <hr class="hr_add" />
            <div class="customTableWrapper">
                <div id="">
                    <table class="table-bordered  table-striped cf w-100 dataTable no-footer dtr-inline" id="tblShipmentDetails">
                        <thead>
                            <tr>
                                <th hidden="hidden">ShipmentId</th>
                                <th>Status</th>
                                <th>Customer Name</th>
                                <th>Pickup</th>
                                <th>Pickup Date</th>
                                <th>Delivery</th>
                                <th>Delivery Date</th>
                                <th>AWB / PO / ORDER</th>
                                @*<th>Cust. PO</th>*@
                                <th>Driver Name</th>
                                <th>Equipment</th>
                                <th>Quantity</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

@Scripts.Render("~/bundles/viewAllShipment")
