body {
    width: auto;
    height: 800px;
    overflow-x: scroll;
    margin: auto;
}

.menu-items {
    display: flex;
    justify-content: space-between;
    height: 60px;
    width: 100%;
    background-color: #85ae3c;
    align-items: center;
    list-style-type: none;
    margin-right: 100px;
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    color: #007bff;
    text-decoration: none;
    background-color: transparent;
}

.menu-items li a:active,
.menu-items li a:hover {
    color: #000000;
    text-decoration: none;
}

a:any-link {
    cursor: pointer;
}

.header {
    height: 40px;
}

.menu {
    display: flex;
    align-items: center;
    position: fixed;
    width: 100%;
    z-index:9999;
}

span.leftIc {
    margin-right: 5px;
}

.menu-toggle {
    margin-right: 15px;
    display: none;
}

.menu-icon {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 24px;
    position: absolute;
    top: -43px;
    height: 20px;
}

    .menu-icon span {
        background-color: #333;
        height: 2px;
    }

.menu-items li:last-child {
    border-right: none;
}

.menu-items li {
    font-weight: 400;
    border-right: 1px solid rgba(211, 228, 180, 0.34);
    display: flex;
    align-items: center;
    height: 100%;
}

    .menu-items li a {
        text-decoration: none;
        color: #fff;
        font-weight: 400;
        font-size: 11px;
        letter-spacing: 1px;
        text-transform: uppercase;
        font-family: 'Nunito Sans', sans-serif;
        display: flex;
        align-items: center;
        height: 100%;
        padding: 0px 8.28px;
    }

a:hover {
    background: #D3E3B4;
}

/* Media Query for Responsive Menu */
/*
@media (max-width: 768px) {
    .menu-items {
        display: none;
    }

    .menu-toggle {
        display: block;
    }

        .menu-toggle:checked ~ .menu-items {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            margin-top: 10px;
        }
}

@media (max-width: 680px) {
    .menu-items {
        flex-wrap: wrap;
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.3s ease-out;
    }

    .menu-toggle:checked ~ .menu-items {
        max-height: 200px; 
    }
    i{
        margin-right:2px;
    }

    .menu-items li {
        flex: 0 0 100%;
        margin-bottom: 10px;
    }

        .menu-items li:last-child {
            margin-bottom: 0;
        }
    .showmenu
    {
    display:block;
    }
}
*/
@media (max-width: 640px) {
    .menu-items {
        flex-direction: column;
        padding: 0;
    }

        .menu-items li {
            display: inline-block;
            font-weight: 400;
            align-items: center;
            width: 100%;
        }

    .menu-toggle {
        display: block;
    }

        .menu-toggle:checked ~ .menu-items {
            display: flex;
            position: absolute;
            top: 10px;
            flex-direction: column;
            align-items: flex-start;
            margin-top: 10px;
        }

    .menu {
        margin: 1px 0 0;
        display: none;
        align-items: flex-start;
        position: fixed;
    }

        .menu > ul {
            margin: 0;
            padding: 0;
        }

            .menu > ul > li > a {
                display: block;
                color: #fff;
                padding: 0px;
                font-size: 14px;
                padding: 5px 5px;
                white-space: nowrap;
                font-weight: 400;
                letter-spacing: 1px;
                text-transform: uppercase;
                transition: all 0.3s ease-in-out;
                border-bottom: 1px solid rgba(211, 228, 180, 0.34);
            }

    .menu {
        margin: 60px 0 0 0;
        position: fixed;
        top: 0;
        z-index: 3;
        background: #85ae3c;
        width: 220px;
        padding: 0;
        height: 100vh;
        transition: all 0.3s ease-in-out;
        -webkit-transition: all 0.3s ease-in-out;
    }
}


.section {
    margin-top: 20px;
    display: grid;
    grid-template-columns: 2fr 1.5fr 1.5fr 2fr;
}

    .section div {
        display: grid;
        max-width: 100%;
        overflow: hidden;
        white-space: normal;
        text-overflow: ellipsis;
        border: 1px solid black;
        font-size: 11px;
        font-weight: 600;
        justify-content: center;
        position: relative;
        font-family: 'Nunito Sans', sans-serif;
    }


.article-items {
    list-style: none;
    font-size: 12px;
    padding: 0;
}

.section .article .article-items {
    position: absolute;
    left: 10px;
    top: 12%;
    font-weight:normal;
}

.section .article .article-items1 {
    position: absolute;
    left: 80px;
    top: 12%;
    list-style: none;
    font-size: 12px;
    font-weight: normal;
}
        .section .aside {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto auto;
    grid-template-areas: "h h1" "m m" "v v";
}

    .section .aside .sprogress {
        grid-area: h;
        justify-content: start;
        
    }

    .section .aside .fprogress {
        grid-area: h1;
        justify-content: center;
        align-items: center;
    }

    .section .aside .driver {
        grid-area: m;
        justify-content: start;
        align-items: center;
        font-weight: 400;
    }

    .section .aside .driver-list {
        display: grid;
        font-size: 12px;
        grid-template-columns: 1fr 1fr 1fr;
        grid-area: v;
        align-items: start;
    }

        .section .aside .driver-list .list-items {
            list-style-type: none;
            display: flex;
            grid-template-columns: 1fr 1fr 1fr;
            margin-right: 100px;
            font-weight: normal;
        }

            .section .aside .driver-list .list-items li {
                margin: 0 40px 0 20px;
            }
