@using LarastruckingApp.Entities.Permission
@using LarastruckingApp.Infrastructure
@{
    ViewBag.Title = "ViewTimeCard";
    Layout = "~/Views/Shared/_Layout.cshtml";
    MemberProfile memberProfile = new MemberProfile();
    PermissionsDto permissions = IsPermited.HasPermission();
}

<div class="row">
    <div class="col-lg-12 col-md-12 mt-2">
        <div class="white-bg customFormWrap">
            <div class="col-md-12">
                <div class="row">

                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-3">
                                <div class="form-group row">
                                    <label for="dtStartedDate" class="col-sm-4 col-form-label">Start Date</label>
                                    <div class="col-sm-8">
                                        <input type="text"
                                               required="required"
                                               placeholder="MM-DD-YYYY"
                                               name="dtStartedDate"
                                               onkeypress="return onlyAlphanumeric(event)"
                                               onfocusout="BindStartDates()"
                                               id="dtStartedDate"
                                               autocomplete="off"
                                               class="form-control jqueryui-marker-datepicker">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group  row">
                                    <label for="dtEndDate" class="col-sm-4 col-form-label">End Date</label>
                                    <div class="col-sm-8">
                                        <input type="text"
                                               required="required"
                                               placeholder="MM-DD-YYYY"
                                               name="dtEndDate"
                                               onkeypress="return onlyAlphanumeric(event)"
                                               onfocusout="BindEndDates()"
                                               id="dtEndDate"
                                               autocomplete="off"
                                               class="form-control jqueryui-marker-datepicker">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group  row">
                                    <label class="col-sm-4 col-form-label" for="ddlUser">User</label>
                                    <div class="col-sm-8">
                                        <select id="ddlUser"
                                                class="form-control">
                                            <option>SEARCH USER</option>
                                        </select>

                                    </div>
                                </div>
                            </div>


                        </div>
                    </div>
                </div>

                <div class="row">

                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-2">
                                <div class="form-group row">
                                    <label for="dtStartedDate" class="col-sm-6 col-form-label">Labor Report</label>
                                    <div class="col-sm-4">
                                        <input type="radio"
                                               name="report"
                                               value="labor"
                                               id="rdoLaborReport"
                                               class="form-check-input">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group  row">
                                    <label for="dtEndDate" class="col-sm-6 col-form-label">Daily Report</label>
                                    <div class="col-sm-4">
                                        <input type="radio"
                                               name="report"
                                               value="daily"
                                               id="rdoDailyReport"
                                               class="form-check-input">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group  row">
                                    <label class="col-sm-6 col-form-label" for="ddlUser">Weekly Report</label>
                                    <div class="col-sm-4">
                                        <input type="radio"
                                               name="report"
                                               value="weekly"
                                               id="dtWeeklyReport"
                                               class="form-check-input">
                                    </div>

                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group  row">
                                    <label class="col-sm-4 col-form-label" for="ddlWeekDate">Week</label>
                                    <div class="col-sm-8">
                                        <select id="ddlWeekDate" class="form-control">
                                            <option>Select Week</option>
                                        </select>
                                    </div>

                                </div>
                            </div>

                            <div class="col-md-3">
                                <button type="button" id="btnViewTimeCard" class="btn green-Btn pullr">SUBMIT</button>
                                @*@{ if (permissions.IsInsert)
                                        {
                                            @Html.ActionLink("Add Time", "TimeCard", "TimeCard/Index", null, new { @class = "btn green-Btn" })
                                        }

                                    }*@
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <hr class="hr_add" />
            <div class="customTableWrapper">
                <div id="divTimeCard">
                    <table class="table-bordered table-striped cf w-100" id="tblTimeCard">
                        <thead>

                            <tr>
                                <th hidden="hidden"></th>
                                <th>User</th>
                                <th>Day</th>
                                <th>Check In</th>
                                <th>Check Out</th>
                                <th>Total Hours</th>

                            </tr>
                        </thead>
                    </table>
                </div>
                <div id="divLaborReport">
                    <table class="table-bordered table-striped cf w-100" id="tblLaborReport">
                        <thead>
                            <tr><td colspan="6"><b>LABOR REPORT</b></td></tr>
                            <tr>
                                <th>NAME</th>
                                <th>TOTAL HOURS</th>
                                <th>HOURLY RATE</th>
                                <th>TOTAL PAID</th>
                                <th>VARIATION % </th>
                                <th>LOAN GRANTED</th>
                                <th>LOAN BALANCE</th>
                            </tr>
                        </thead>
                    </table>
                </div>
                <div id="divDailyReport">





                </div>
                <div id="divWeeklyReport">
                    <table class="table-bordered table-striped cf w-100" id="tblWeeklyReport">
                        <thead>
                            <tr><td colspan="3"><b>WEEKLY REPORT</b></td></tr>
                            <tr>
                                <th>NAME</th>
                                <th>TOTAL HOURS</th>
                                <th>TOTAL PAID</th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal" role="dialog" id="modalTimeCard">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content" id="modalTimeCard1">
            <div id="divmodalPopup" class="modal-header popup">
                <h6 class="modal-title"> TIMECARD CALCULATOR</h6>
                
            </div>
            <div class="modal-body">
                <div class="white-bg customFormWrap">
                    <div class="row">
                        <div class="col-md-12">
                            @{ Html.RenderPartial("_prTimeCard");}
                        </div>
                    </div>

                    <div class="hr-rate p-3">
                        @if (memberProfile.UserRole.Trim().ToLower() == "Management".ToLower())
                            {
                                <div class="row">
                                    <div class="col-md-3 mb-2">
                                        <span class="btn btn-secondary w-100">HOURLY RATE</span>
                                    </div>
                                    <div class="col-md-3 mb-2">
                                        <div class="input-icon">
                                            <input type="text" id="txtHourlyRate" onchange="CalculateTotalPrice()" onkeypress="return onlyNumeric(event)" class="form-control" placeholder="0" />
                                            <span class="inpt-dollar">$</span>
                                        </div>
                                    </div>

                                    <div class="col-md-3 mb-2">
                                        <span class="btn btn-secondary w-100">LOAN</span>
                                    </div>
                                    <div class="col-md-3 mb-2">
                                        <div class="input-icon">
                                            <input type="text" id="txtLoan" onchange="CalculateTotalPrice()" onkeypress="return onlyNumeric(event)" class="form-control" placeholder="0" />
                                            <span class="inpt-dollar">$</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-3 mb-2">
                                        <span class="btn btn-secondary w-100">TOTAL PAY</span>
                                    </div>
                                    <div class="col-md-3 mb-2">
                                        <div class="input-icon">
                                            <input type="text" id="txtTotalPay" onfocusout="CalculateTotalPrice()" onkeypress="return onlyNumeric(event)" class="form-control" placeholder="0" />
                                            <span class="inpt-dollar">$</span>
                                        </div>
                                    </div>
                                    <div class="col-md-3 mb-2">
                                        <span class="btn btn-secondary w-100">DEDUCTIONS </span>
                                    </div>
                                    <div class="col-md-3 mb-2">
                                        <div class="input-icon">
                                            <input type="text" id="txtDeductions" onfocusout="CalculateTotalPrice()" onkeypress="return onlyNumeric(event)" class="form-control" placeholder="0" />
                                            <span class="inpt-dollar">$</span>
                                        </div>
                                    </div>
                                    <div class="col-md-3 mb-2">
                                        <span class="btn btn-secondary w-100">REIMBURSEMENTS </span>
                                    </div>
                                    <div class="col-md-3 mb-2">
                                        <div class="input-icon">
                                            <input type="text" id="txtReimbursements" onfocusout="CalculateTotalPrice()" onkeypress="return onlyNumeric(event)" class="form-control" placeholder="0" />
                                            <span class="inpt-dollar">$</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-3 mb-2">
                                        @*<button id="btnCaculate" class="btn green-Btn w-100">Calculate</button>*@
                                        <button id="btnCaculate" onclick="btnCaculate()" class="btn green-Btn w-100">Save</button>
                                    </div>
                                    <div class="col-md-3 mb-2">
                                        <button id="btnClear" onclick="btnClear()" class="btn green-Btn w-100">Clear All</button>
                                    </div>

                                    <div class="col-md-3 mb-2">
                                        <span class="btn btn-secondary w-100">REMAINING  </span>
                                    </div>
                                    <div class="col-md-3 mb-2">
                                        <div class="input-icon">
                                            <input type="text" id="txtRemaining" readonly="readonly" class="form-control" placeholder="0" />
                                            <span class="inpt-dollar">$</span>
                                        </div>
                                    </div>

                                </div>
                            }
                        
                        @if (memberProfile.UserRole.Trim().ToLower() == "Management".ToLower() || memberProfile.UserRole.Trim().ToLower() == "Dispatcher".ToLower())
                            {
                                <div class="row">
                                    <div class="col-md-3">
                                        <a href="#!" onclick="PrintDiv()" id="hrfPrint" class="btn green-Btn w-100">PRINT</a>
                                    </div>
                                    <div class="col-md-3">
                                        <a href="#!" id="hrfEmail" onclick="ShowEmailPopup()" class="btn green-Btn w-100">EMAIL</a>
                                    </div>
                                    @{ if (memberProfile.UserRole.Trim().ToLower() == "Management".ToLower())
                                        {
                                            <div class="col-md-6 mb-2">
                                                <div class="input-icon">
                                                    <input type="text" id="txtDescription" onfocusout="description()" onkeypress="return onlyAlphanumeric(event)" class="form-control" placeholder="Description" />
                                                </div>
                                            </div>
                                        }
                                    }
                                </div>
                            }
                        
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-md-12 text-right mb-2">
                            <button type="reset" id="btnClose" onclick="closePopup()" class="btn outline-Btn" data-dismiss="modal">CLOSE</button>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
@Html.Partial("_prTimeCardPrintNEmail")


@Scripts.Render("~/bundles/viewTimeCard")
<script src="~/CustomScript/TimeCard/MainTimeCard.js"></script>

@*<script src="~/CustomScript/TimeCard/ViewTimeCard.js"></script>*@

