<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900&display=swap" rel="stylesheet">
</head>
<body style="margin:0;padding:0;color:#000;font-family:'Calibri', sans-serif; font-weight:400;font-size:14px; background:white">
    <div>


        <div class="">
            <!--<p style="text-align:center;">$$DriverlogoURL$$</p>-->
            <!--<p><i></i></p><p><i>&nbsp;</i></p><i></i>-->
            <p style='font-size:14px;'>Dear $$DriverName$$, </p><p><i></i></p><i></i>
            <!--<p><i></i></p><p><i>&nbsp;</i></p><i></i>-->
            <p style='font-size:14px;'>

                The following document expires soon. Please provide to Dispatch Department with a current document before the expiration date.

            <!--</p><p><i></i></p><i></i>-->
            <!--<p><i></i></p><p><i>&nbsp;</i></p><i></i>-->
            $$DriverDocuments$$

            <!--<p><i></i></p><p><i>&nbsp;</i></p><i></i>-->
            <p><span style='font-size:14px;' lang="es-us" xml:lang="es-us">Thank you!  <br />  Best Regards,<br /> Lara’s Trucking & Logistics</span> </p>
            
            <!--<p></p><p>&nbsp;</p>-->
        </div>
    </div>


</body>
</html>