@using LarastruckingApp.Entities.Permission
@using LarastruckingApp.Infrastructure

@{
    //Layout = null;
    MemberProfile memberProfile = new MemberProfile();
    PermissionsDto permissions = IsPermited.HasPermission();
}

<input type="hidden" value="@memberProfile.UserId" id="hdnUserId" />
<input type="hidden" value="@memberProfile.UserRole" id="hdnUserRole" />
<h5 class="mb-1 btnColor"><span id="spnDriverName"></span> | TIMECARD WEEK  <span id="spnWeekNo"></span> [<span id="spnStartDate"></span> To <span id="spnEndtDate"></span>]&nbsp; <button id="btnPrevious"><i class="fas fa-arrow-circle-left"></i></button> <button id="btnNext"><i class="fas fa-arrow-circle-right"></i></button></h5>
<table style="width:100% !important;"id="timeCard" class="table table-striped mb-0">
    <thead>
        <tr style=" width:100%; background:#7ca337 !important">
            <th style="background:#7ca337 !important"></th>
            <th style="background:#7ca337 !important" class="text-center">In</th>
            <th style="background:#7ca337 !important" class="text-center"></th>
            <th style="background:#7ca337 !important" class="text-center">Out</th>
            <th style="background:#7ca337 !important">Total</th>
        </tr>
    </thead>
    <tbody></tbody>
    <tfoot>
        <tr>
            <td style="background:#7ca337 !important">GRAND TOTAL</td>
            <td style="background:#7ca337 !important"></td>
            <td style="background:#7ca337 !important"></td>
            <td style="background:#7ca337 !important"></td>
            <td style="background:#7ca337 !important"><span id="spnGradTotal"></span></td>
        </tr>
    
    </tfoot>
</table>
