<div class="card-body">

    <div class="white-bg customFormWrap">
        <h2 class="cardHeading">
           Freight Details
        </h2>
        <div class="row">
            <input type="hidden" id="hdnShipmentRouteStopeId" />
            <input type="hidden" id="hdnShipmentBaseFreightDetailId" />
            <input type="hidden" id="hdnFreightTypeId" />
            <input type="hidden" id="hdnPricingMethodId" />
            <div class="col-sm-12">
                <div class="form-group row">
                    <label class="col-sm-4 col-form-label" for="txtCommodity"> Commodity</label>
                    <div class="col-sm-8">
                        <input type="text" id="txtCommodity" class="form-control" readonly="readonly" />
                    </div>
                </div>
            </div>
            <div class="col-sm-12">
                <div class="form-group row">
                    <label class="col-sm-4 col-form-label" for="txtFreight"> Freight Type </label>
                    <div class="col-sm-8">
                        <input type="text" id="txtFreight" class="form-control" readonly="readonly" />
                    </div>
                </div>
            </div>
            <div class="col-sm-12">
                <div class="form-group row">
                    <label class="col-sm-4 col-form-label" for="txtPricingName"> Pricing Name</label>
                    <div class="col-sm-8">
                        <input type="text" id="txtPricingName" class="form-control" readonly="readonly" />
                    </div>
                </div>
            </div>
            <div class="col-sm-12">
                <div class="form-group row">
                    <label class="col-sm-4 col-form-label" for="txtQuantity"> QTY/Wt. </label>
                    <div class="col-sm-8">
                        <input type="text" id="txtQuantity" class="form-control" />
                    </div>
                </div>
            </div>


        </div>
        <hr>
        <div class="row">
            <div class="col-md-12 text-right mb-2">
                <button type="button" id="BtnSave" class="btn green-Btn">Save</button>
            </div>
        </div>
    </div>
</div>
