@model LarastruckingApp.ViewModel.GpsTracker.ShipmentGpsDetailsViewModal
@{
    ViewBag.Title = "FumigationIndex";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-lg-12 col-md-12 mt-2">
        <div class="white-bg customFormWrap">
            <input type="hidden" id="hdnFumigationId" name="hdnFumigationId" value="@ViewBag.FumigationId" />

            <div class="col-md-12">

                <div class="row">
                    <div class="col-md-3">
                        <div class="form-group row">
                            <label for="dtStartedDate" class="col-sm-4 col-form-label">Start Date</label>
                            <div class="col-sm-8">
                                <input type="text"
                                       required="required"
                                       placeholder="MM-DD-YYYY"
                                       name="dtStartedDate"
                                       readonly="readonly"
                                       onkeypress="return onlyAlphanumeric(event)"
                                       id="dtStartedDate"
                                       autocomplete="off"
                                       @*onchange="GetTrackerDetails('GetDetailsWithStartEnddate'); validateStartEndDate();"*@
                                        onchange="GetFumigationGpsTrackerDetails('GetDetailsWithStartEnddate'); validateStartEndDate();"
                                       class="form-control dtTimer">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group  row">
                            <label for="dtEndDate" class="col-sm-4 col-form-label">End Date</label>
                            <div class="col-sm-8">
                                <input type="text"
                                       required="required"
                                       placeholder="MM-DD-YYYY"
                                       name="dtEndDate"
                                       readonly="readonly"
                                       onkeypress="return onlyAlphanumeric(event)"
                                       id="dtEndDate"
                                       autocomplete="off"
                                       @*onchange="GetTrackerDetails('GetDetailsWithStartEnddate'); validateStartEndDate();"*@
                                        onchange="GetFumigationGpsTrackerDetails('GetDetailsWithStartEnddate'); validateStartEndDate();"
                                       class="form-control dtTimer">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <button type="button" onclick="self.close()" id="" class="btn green-Btn">Go Back</button>
                    </div>
                </div>
            </div>

            <div class="col-md-12">
                <div class="row">

                    <table id="tblDriver" class="table-bordered dataTable table-striped cf w-100 dataTable  activateDatatable">
                        <thead>
                            <tr>
                                <th></th>
                                <th>Driver Name</th>
                                <th>Equipment Name</th>
                                @*<th>AirWayBill</th>*@
                                <th>Pick Up Location</th>
                                <th>Delivery Location</th>
                            </tr>
                        </thead>
                        <tbody id="dtDriverBody"></tbody>
                    </table>
                </div>
            </div>

            <div class="col-md-12">
                <div class="row">
                    <div id="dvMap" class="gpsMap">
                    </div>
                </div>
            </div>


        </div>
    </div>
</div>
<script src="~/CustomScript/GpsTracker/FumigationGpsTracker.js"></script>
@*<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDXBtkoqacvZToBGD9TCaiZ9qUTrAJDJN4&sensor=false"></script>*@

