
<div class="row">
    <div class="col-lg-12 col-md-12 mt-2">
        <div class="white-bg customFormWrap">


            <div id="divEquipmentList" class="col-md-12 table-responsive">
                <table class="table table-bordered table-striped cf w-100 activateDatatable" id="tblEquipmentDetails">
                    <thead>
                        <tr>

                            <th></th>
                            <th>Equipment Type</th>
                            <th>Equipment No.</th>
                            <th>Max Load</th>
                            <th>Bed</th>
                            <th>Door Type</th>
                            <th>Freight</th>
                            <th>Driver Name</th>
                            <th>Check-In Time</th>
                        </tr>
                    </thead>
                </table>
            </div>

        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-12 col-md-12 mt-2 text-right" style="justify-content: flex-end;display: flex;">
        <input type="button" class="btn green-Btn" id="btnPickUpContinue" value="Continue" style="float:left;height: 30px;"/>
        <input type="button" class="btn green-Btn" id="btnDeliveryContinue" value="Continue" style="float:left;height: 30px;"/>
        <input type="button" class="btn outline-Btn btn green-Btn" id="btnCancel" value="Cancel" style="height:30px;float: right;color: #fff;"/>
    </div>
</div>
<script src="~/CustomScript/fumigationjs/fumigationequipmentlist.js"></script>



